{% extends 'base/main.html' %}
{% block content %}

{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
{% endif %}

<hr>
<h1>my to do list</h1>

<a href="{% url 'task-create' %}">add task</a>

<form method="get">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="search">
</form>

<table>
    <tr>
        <th>item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task-update' task.id %}">edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">delete</a></td>
    </tr>
    {% empty %}
        <h3>no items in list.</h3>
    {% endfor %}
</table>

{% endblock content %}

